################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/OnlineEnterprice.Data/bin/Debug/netcoreapp2.2
/OnlineEnterprice.Data/obj/Debug/netcoreapp2.2
/OnlineEnterprice.Data/obj
/OnlineEnterprice.Domain/bin/Debug/netcoreapp2.2
/OnlineEnterprice.Domain/obj/Debug/netcoreapp2.2
/OnlineEnterprice.Domain/obj
/OnlineEnterprise.Web/obj/Debug/netcoreapp2.2
/OnlineEnterprise.Web/bin/Debug/netcoreapp2.2
/OnlineEnterprise.Web/obj
/OnlineEnterprice.Domain/bin/Release/netcoreapp2.2
/OnlineEnterprise.Tests/bin/Debug/netcoreapp2.2
/OnlineEnterprise.Tests/bin/Release/netcoreapp2.2
/OnlineEnterprise.Tests/obj
/OnlineEnterprise.Web/bin/Release/netcoreapp2.2
/OnlineEnterprice.Data/bin/Release/netcoreapp2.2
/bin/Debug
/obj/Debug
/OnlineEnterpriseCategories.Web/bin/Debug/netcoreapp2.2
/OnlineEnterpriseOrders.Web/bin/Debug/netcoreapp2.2
/OnlineEnterpriseProducts.Web/bin/Debug/netcoreapp2.2
/OnlineEnterpriseProducts.Web/obj/Container
